[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
email-validator = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
requests = "*"
uuid = "*"
elasticsearch = "*"
rq = "*"
gunicorn = "*"
pymysql = "*"
httpie = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
