{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1 class="mt-4">{{ _('Outfits') }}</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">{{ _('Closet') }}</li>
    <li class="breadcrumb-item active">{{ _('Outfits') }}</li>
  </ol>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-magic"></i>
          {{ _('List') }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              {% if has_clothes %}
                {% if user_outfits %}
                  <table class="table table-hover">
                    <tr>
                      <th>{{ _('Outfit Name') }}</th>
                      <th>{{ _('Outerwears') }}</th>
                      <th>{{ _('Tops 1') }}</th>
                      <th>{{ _('Tops 2') }}</th>
                      <th>{{ _('Bottoms') }}</th>
                      <th>{{ _('Settime') }}</th>
                    </tr>
                    {% for name, time,
                    outerwear,
                    top_1,
                    top_2,
                    bottom in user_outfits %}
                      <tr>
                        <td>{{ name }}</td>

                        <td>
                          {% if outerwear %}
                            {{ outerwear }}
                          {% else %}
                            ----------
                          {% endif %}
                        </td>
                        <td>
                          {% if top_1 %}
                            {{ top_1 }}
                          {% else %}
                            ----------
                          {% endif %}
                        </td>
                        <td>
                          {% if top_2 %}
                            {{ top_2 }}
                          {% else %}
                            ----------
                          {% endif %}
                        </td>
                        <td>
                          {% if bottom %}
                            {{ bottom }}
                          {% else %}
                            ----------
                          {% endif %}
                        </td>

                        <td>{{ moment(time).fromNow() }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                  <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                      <li class="page-item {% if not prev_url %} disabled{% endif %} text-left">
                        <a class="page-link" href="{{ prev_url or '#'}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item {% if not next_url %} disabled{% endif %}">
                        <a class="page-link" href="{{ next_url or '#'}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                {% else %}
                  {{ _('Set your own outfit!') }}
                {% endif %}
              {% else %}
                <a class="btn bg-info" href="{{ url_for('closet.add_clothes') }}" role="button">{{ _('Add your new clothes!') }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-plus mr-1"></i>
          {{ _('Set Outfit') }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">{{ wtf.quick_form(form) }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
