{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }}
    - ClothesManager
  {% else %}ClothesManager{% endif %}
{% endblock %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.home') }}">Clothes Manager</a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search-->
          {% if g.search_form %}
            <form class="navbar-form navbar-left d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="get" action="{{ url_for('main.search') }}">
              <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
              </div>
            </form>
            {% endif %}
      <!-- Navbar-->
      {% if current_user.is_anonymous %}
        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
            <i class="fas fa-user fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{{ url_for('main.home') }}">{{ _('Home') }}</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
          </div>
        </li>
      </ul>
      {% else %}
      <div>
        {% set new_messages = current_user.new_messages() %}
        <span id="message_count" class="badge badge-secondary" style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">
          {{ new_messages }}
        </span>
      </div>
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(40) }}">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{{ url_for('main.home') }}">{{ _('Home') }}</a>
            <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
            <a class="dropdown-item" href="{{ url_for('main.messages') }}">{{ _('Messages') }}
              {% set new_messages = current_user.new_messages() %}
              <span id="message_count" class="badge badge-secondary" style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">
                {{ new_messages }}
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
        </li>
      </ul>
    {% endif %}
  </nav>

  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{{ url_for('main.index') }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              {{ _('Dashboard') }}
            </a>
            <div class="sb-sidenav-menu-heading">{{ _('Closet') }}</div>
            <a class="nav-link" href="{{ url_for('closet.clothes') }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tshirt"></i>
              </div>
              {{ _('Clothes') }}
            </a>
            <a class="nav-link" href="{{ url_for('closet.outfits') }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-magic"></i>
              </div>
              {{ _('Outfits') }}
            </a>

            <div class="sb-sidenav-menu-heading">{{ _('User') }}</div>
            <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-chart-area"></i>
              </div>
              {{ _('Profile') }}
            </a>
            <a class="nav-link" href="{{ url_for('main.post') }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-table"></i>
              </div>
              {{ _('Post') }}
            </a>
            <a class="nav-link" href="{{ url_for('main.explore') }}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-globe-americas"></i>
              </div>
              {{ _('Explore') }}
            </a>

          </div>
        </div>
        <div class="sb-sidenav-footer">
          {% if current_user.is_anonymous %}
            <div class="small">Login
              <a href="{{ url_for('auth.login') }}">Here</a>.
            </div>
          {% else %}
            <div class="small">Logged in as:</div>
            <span class="user_popup">
              <a href="{{ url_for('main.user', username=current_user.username) }}">
                {{ current_user.username }}
              </a>
            </span>
          </div>
        {% endif %}
      </nav>
    </div>

    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          {% if current_user.is_authenticated %}
            {% with tasks = current_user.get_tasks_in_progress() %}
            {% if tasks %}
              {% for task in tasks %}
                {% if task.name == 'scrape_forecast' %}
                  <div class="alert alert-info" role="alert">
                    {{ task.description }}
                  </div>
                {% else %}
                  <div class="alert alert-success" role="alert">
                    {{ task.description }}
                    <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% endwith %}
          {% endif %}

          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
          {% endwith %}

          {% block app_content %}{% endblock %}

        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2020</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script> let translate_error_txt = "{{ _('Error: Could not contact server.') }}"</script>
<script> let dd_location_url = "{{ url_for('auth._get_locations') }}"</script>
<script> let dd_category_url = "{{ url_for('closet._get_categories') }}"</script>
<script> let task_notifications_url = "{{ url_for('main.notifications') }}?since="</script>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/translate.js') }}"></script>
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
{% if current_user.is_authenticated %}
<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
{% endif %}
{% endblock %}
