{% extends "base.html" %}

{% block app_content %}
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          {{ _('Forecast') }}
        </div>
        <div class="card-body">
          {% if forecast %}
            <div class="row">
              <div class="col-md-6">
                <table class="table text-center">
                  <tr>
                    <th>
                      <i class="far fa-clock"></i>
                      {{ _('Update time') }}</th>
                    <th>
                      <i class="fas fa-map-marker-alt"></i>
                      {{ _('Location') }}</th>
                    <th>
                      <i class="fas fa-indent"></i>
                      {{ _('Clothes Index') }}</th>
                  </tr>
                  <tr>
                    <td>{{ forecast.Forecast.update_time.isoformat(sep=' ', timespec='minutes') }}</td>
                    <td>
                      {{ forecast.pref_name }}
                      /
                      {{ forecast.city_name }}
                    </td>
                    <td>{{ forecast.value }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table text-center">
                  <tr>
                    <th>
                      <i class="fas fa-rainbow"></i>
                      {{ _('Weather') }}</th>
                    <th>
                      <i class="fas fa-temperature-high"></i>
                      {{ _('High / Low') }}</th>
                    <th>
                      <i class="fas fa-umbrella"></i>
                      {{ _('Chance of Rain') }}</th>
                  </tr>
                  <tr>
                    <td>
                      {{ forecast.Forecast.weather }}
                    </td>
                    <td>
                      {{ forecast.Forecast.highest_temp }}
                      /
                      {{ forecast.Forecast.lowest_temp }}
                    </td>
                    <td>
                      {{ forecast.Forecast.rain_chance }}
                      %
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          {% else %}
            {% if not forecast.Forecast %}
            {{ _('Not Got data Yet') }}
            {% else %}
            {{ _('Put Your Place ') }}
            <a href="{{ url_for('main.edit_profile') }}">{{ _('Here') }}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-server mr-1"></i>
          {{ _('Suggestion') }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-one mr-1"></i>
                  Outwears
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if outwears %}
                      <table class="table table-hover" id="dataTable">
                        <thead>
                          <tr>
                            <th>{{ _('Name')}}</th>
                            <th>{{ _('Time')}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for outwear in outwears %}
                            <tr>
                              <td>{{ outwear.name }}</td>
                              <td>{{ outwear.timestamp }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-two mr-1"></i>
                  Tops
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if tops %}
                      <table class="table table-hover" id="dataTable" cellspacing="0">
                        <thead>
                          <tr>
                            <th>{{ _('Name')}}</th>
                            <th>{{ _('Time')}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for top in tops %}
                            <tr>
                              <td>{{ top.name }}</td>
                              <td>{{ top.timestamp }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-three mr-1"></i>
                  Bottoms
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if bottoms %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>{{ _('Name')}}</th>
                            <th>{{ _('Time')}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for bottom in bottoms %}
                            <tr>
                              <td>{{ bottom.name }}</td>
                              <td>{{ bottom.timestamp }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
