{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi,%(username)s!', username=current_user.username) }}</h1>

{% if post_form %}
{{ wtf.quick_form(post_form) }}
<br>
{% endif %}
{% if post %}
{% include '_post.html' %}
{% elif posts %}
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% endif %}
{% if all_forecast %}
<table class="table table-hover">
  <tr>
    <th>{{ _('Prefecture') }}</th>
    <th>{{ _('Weather') }}</th>
    <th>{{ _('High / Low') }}</th>
    <th>{{ _('Chance of Rain') }}</th>
  </tr>
  {% for forecast in all_forecast %}
  <tr>
    <td>
      {{ forecast.prefecture }}
    </td>
    <td>
      {{ forecast.weather }}
    </td>
    <td>
      {{ forecast.highest_temp }} / {{ forecast.lowest_temp }}
    </td>
    <td>
      {{ forecast.rain_chance }}
    </td>
  </tr>
  {% endfor %}
</table>
<br><br>
{% endif %}
{% endblock %}
