{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>{{ _('Hi,%(username)s!', username=current_user.username) }}</h1>

  <div class="container">
    {% if forecast %}
      <table class="table table-hover">
        <tr>
          <th>{{ _('Update time') }}</th>
          <th>{{ _('Location') }}</th>
          <th>{{ _('Clothes Index') }}</th>
          <th>{{ _('Weather') }}</th>
          <th>{{ _('High / Low') }}</th>
          <th>{{ _('Chance of Rain') }}</th>
        </tr>
        <tr>
          <td>{{ forecast.Forecast.update_time.isoformat(sep=' ', timespec='minutes') }}</td>
          <td>
            {{ forecast.pref_name }}
            /
            {{ forecast.city_name }}
          </td>
          <td>{{ forecast.value }}</td>
          <td>
            {{ forecast.Forecast.weather }}
          </td>
          <td>
            {{ forecast.Forecast.highest_temp }}
            /
            {{ forecast.Forecast.lowest_temp }}
          </td>
          <td>
            {{ forecast.Forecast.rain_chance }}
            %
          </td>
        </tr>
      </table>
    {% endif %}

    {% if outwears or tops or bottoms %}
      {% if outwears %}
        <table class="table table-hover">
          <tr>
            <th>{{ _('Outerwears')}}</th>
          </tr>
          <tr>
            {% for outwear in outwears %}
              <td>{{ outwear.name }}</td>
            {% endfor %}
          </tr>
        </table>
      {% endif %}

      {% if tops %}
        <table class="table table-hover">
          <tr>
            <th>{{ _('Tops')}}</th>
          </tr>
          <tr>
            {% for top in tops %}
              <td>{{ top.name }}</td>
            {% endfor %}
          </tr>
        </table>
      {% endif %}

      {% if bottoms %}
        <table class="table table-hover">
          <tr>
            <th>{{ _('Bottoms')}}</th>
          </tr>
          <tr>
            {% for bottom in bottoms %}
              <td>{{ bottom.name }}</td>
            {% endfor %}
          </tr>
        </table>
      {% endif %}
    {% endif %}

  {% endblock %}

</div>
