{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('Outfits') }}</h1>
<h4><a href="{{ url_for('clothes.set_outfit') }}">{{ _('Choose your clothes by yourself') }}</a></h4>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>{{ _('Outfit Name') }}</th>
    <th>{{ _('Tops') }}</th>
    <th>{{ _('Bottoms') }}</th>
    <th>{{ _('Settime') }}</th>
  </tr>
  {% for post in outfits %}
  <tr>
    <td width="70px">
      <a href="{{ url_for('main.user', username=post.owner.username) }}">
        <img src="{{ post.owner.avatar(70) }}">
      </a>
    </td>
    <td>
      <span id="post{{ post.id }}">{{ post.name }}</span>
    </td>
    {% for clothes in post.set_clothes %}
    <td>
      {{ clothes.name }}
    </td>
    {% endfor %}
    <td>{{ _('%(when)s', when=moment(post.timestamp).fromNow()) }}</td>
  </tr>
  {% endfor %}
</table>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span> {{ _('Newer clothes') }}
      </a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}">
        {{ _('Older clothes') }} <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
