{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('Outfits') }}</h1>
<a class="btn btn-default" href="{{ url_for('clothes.set_outfit') }}" role="button">{{ _('Add your new clothes') }}</a>
{% if user_outfits %}
<table class="table table-hover">
  <tr>
    <th>{{ _('Outfit Name') }}</th>
    <th>{{ _('Jackets') }}</th>
    <th>{{ _('Tops 1') }}</th>
    <th>{{ _('Tops 2') }}</th>
    <th>{{ _('Bottoms') }}</th>
    <th>{{ _('Settime') }}</th>
  </tr>
  {% for name, time, jacket, top_1, top_2, bottom in user_outfits %}
  <tr>
    <td>{{ name }}</td>

    <td>
      {% if jacket %}
      {{ jacket }}
      {% else %}
      ----------
      {% endif %}
    </td>
    <td>
      {% if top_1 %}
      {{ top_1 }}
      {% else %}
      ----------
      {% endif %}
    </td>
    <td>
      {% if top_2 %}
      {{ top_2 }}
      {% else %}
      ----------
      {% endif %}
    </td>
    <td>
      {% if bottom %}
      {{ bottom }}
      {% else %}
      ----------
      {% endif %}
    </td>

    <td>{{ moment(time).fromNow() }}</td>
  </tr>
  {% endfor %}
</table>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span> {{ _('Newer clothes') }}
      </a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}">
        {{ _('Older clothes') }} <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
