{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('Outfits') }}</h1>
<h4><a href="{{ url_for('clothes.set_outfit') }}">{{ _('Choose your clothes by yourself') }}</a></h4>

<table class="table table-hover">
  <tr>
    <th>{{ _('Outfit Name') }}</th>
    <th>{{ _('Jackets') }}</th>
    <th>{{ _('Tops') }}</th>
    <th>{{ _('Bottoms') }}</th>
    <th>{{ _('Settime') }}</th>
  </tr>
  {% for outfit in user_outfits %}
  <tr>
    <td>{{ outfit.name }}</td>

    <td>
      {% if outfit.jacket_id %}
      {% for clothes in user_clothes %}
      {% if clothes.id == outfit.jacket_id %}
      {{ clothes.id }}
      {% endif %}
      {% endfor %}
      {% else %}
      {% endif %}
    </td>
    <td>
      {% if outfit.top_id %}
      {% for clothes in user_clothes %}
      {% if clothes.id == outfit.top_id %}
      {{ clothes.id }}
      {% endif %}
      {% endfor %}
      {% else %}
      {% endif %}
    </td>
    <td>
      {% if outfit.bottom_id %}
      {% for clothes in user_clothes %}
      {% if clothes.id == outfit.bottom_id %}
      {{ clothes.id }}
      {% endif %}
      {% endfor %}
      {% else %}
      {% endif %}
    </td>

    <td>{{ _('%(when)s', when=moment(outfit.timestamp).fromNow()) }}</td>
  </tr>
  {% endfor %}
</table>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span> {{ _('Newer clothes') }}
      </a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}">
        {{ _('Older clothes') }} <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
