{% extends "base.html" %}

{% block app_content %}
<h1 class="mt-4">Login</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Login</li>
</ol>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}<br>
    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </p>
  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  <p>{{ form.submit() }}</p>
</form>
<p>New User? Click <a href="{{ url_for('auth.register') }}">Here</a> to Sign Up!</p>
<p>
  Forgot Your Password?
  Click <a href="{{ url_for('auth.reset_password_request') }}">Here</a> to Reset It
</p>
{% endblock %}
