.home_mt {
  margin-top: 50px;
}

.home-box {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.home-box.top {
  padding-top: 80px;
  text-align: center;
}

.home-box .top-title {
 margin-bottom: 80px;
}

.home-box .top-title {
  font-size: 50px;
  font-family: initial;
}

.top-img img {
  height: 500px;
  width: auto;
}

.top-line-pad {
  padding: 150px 60px 60px 60px;
}

.line-letter {
  font-size: 1.25rem;
}

.home-box.middle {
  padding-top: 300px;
  text-align: center;
}


.middle-img img {
  height: 500px;
  width: auto;
}

.middle-line-pad {
  padding: 100px 60px 60px 60px;
}

.home-content-line-box {
  margin: 10%;
}

.home-content-line-box.box-ord {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.home-content-line-box.box-rev {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  }

.home-content-line-box .item {
  padding: 60px;
}

.item img {
  height: 600px;
  width: auto;
}

.line-letter h4 {
  margin-bottom: 15px;
}
